.App {
  text-align: left;
  background-color: rgb(145, 103, 140);
}

.games-list {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 10px;
  justify-content: center;
}

.add-game-span {
  margin: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
