.game-info,
.game-summary {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-summary {
    box-shadow: 0 1px 5px 3px rgba(201, 202, 204, 0.671);
    padding:10px;
    margin: 0;
    border-radius: 3px;
    background-color: rgb(245, 243, 243);
}



.bottom-div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}